.wrapper
  = render "shared/header"
  .main
    .main-slide
      =image_tag("slide1.png", width:"1440")
    .main-item
      ピックアップカテゴリー
      .main-item-select
        .main-item-select__name
          新着アイテム
        .main-item-all
          .main-item-one
            - @exhibitions.each do |exhibition|
              .main-item-one__textbox
                .main-item-one__textbox__image
                  = link_to image_tag(exhibition.image, width:"200",height: "200"), "/tops/#{exhibition.id}", method: :get
                .main-item-one__textbox__text
                  = exhibition.title
                .main-item-one__textbox__price
                  = "¥" + exhibition.price
                .main-item-one__textbox__good
                  =fa_icon 'heart' , class: 'icon'
                .main-item-one__textbox__tax
                  (税込)
        .main-item-one-all-view
          すべての商品を見る
        .main-item-one-all-page
          = paginate(@exhibitions)
  = render "shared/application"
  = render "shared/footer"
.sell-button
  .sell-button-text
    = link_to "出品", new_top_path, id: 'btn'
  .camera
    =fa_icon'camera', class: 'icon'