.wrapper
  = render "shared/header"
  .main
    .main-slide
      =image_tag("slide1.png", width:"1440")
    .main-item
      ピックアップカテゴリー
      .main-item-select
        .main-item-select__name
          レディース新着アイテム
        .main-item-all
          .main-item-one
            -# - @exhibitions.each do |exhibition|
            -#   = link_to @exhibitions_path do
            -#     = image_tag("#{exhibition.id}.jpg")
            -#   .main-item-one__image
            -# .main-item-one__textbox
            -#   -# .main-item-one__text
            -#   -#   =@exhibition.title
            -#   -#   .main-item-one__prices
            -#   -#     .main-item-one__price
            -#   -#       =@exhibition.price
            -#       .main-item-one__good
            -#         =fa_icon'heart' , class: 'icon'
            -#       .main-item-one__tax
            -#         (税込)
            -#   = exhibition.text
            - @exhibitions.each do |exhibition|
              = link_to '詳細', "/tops/#{exhibition.id}", method: :get
            
        .main-item-one-all-view
          すべての商品を見る
  = render "shared/application"
  = render "shared/footer"
.sell-button
  = button_to "出品", {controller: 'tops', action: 'new'}, {method: :get, class: "sell-button"}
  .sell-button-text
  .camera
    =fa_icon'camera', class: 'icon'
