.header
  .header__mercari
    = image_tag("users_logo.png", width: 200)
.main
  .password
    .password__panel パスワードをお忘れの方
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .password__panel__label
        = f.label :メールアドレス
        %br/
      .password__panel__form
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "ご登録されたメールアドレス"
        = render "devise/shared/error_messages", resource: resource
      .password__panel__message ご登録されたメールアドレスにパスワード再設定のご案内<br>が送信されます。
      .password__panel__action
        = f.submit "送信する", class: "btn"
.footer
  .footer__clearfix
    .footer__clearfix__option プライバシーポリシー
    .footer__clearfix__option メルカリ利用規約
    .footer__clearfix__option 特定商取引に関する表記
  .footer__logo
    = image_tag("footer_logo.png", width: 100)
  .footer__year © 2019 Mercari
